node_modules/
dist/
dist-single/
android/app/build/
android/.gradle/
android/build/
android/local.properties
*.log
.DS_Store
android/app/src/main/assets/public/
android/app/src/main/assets/capacitor.config.json
android/app/src/main/assets/capacitor.plugins.json
android/app/release/
android/app/debug/
